<div class="users form large-2 large-offset-5">
    <?= $this->Flash->render('auth') ?>
    <?= $this->Form->create() ?>
    <fieldset>
        <legend><?= __('Please enter your username and password') ?></legend>
        <?= $this->Form->input('username') ?>
        <?= $this->Form->input('password') ?>
    </fieldset>
    <?= $this->Form->button(__('Login')); ?>
    <?= $this->Form->end() ?>
    <br><br><br>
    <div>

    </div>
</div>
<div class="large-4 large-offset-4">
    <label>admin role(2) Может всё</label>
    <label>superuser role(1) Может создать, редактировать свою или ту, где назначен исполнителем, удалить
        свою.</label>
    <label>Пароль admin</label>
</div>